<images>
    {% for image in data %}
    <image>
        {% if image.copyright %}
        <copyright>{{ image.copyright.replace("&", "&amp;") }}</copyright>
        {% endif %}
        <title>{{ image.title }}</title>
        <date>{{ image.date }}</date>
        <explanation>{{ image.explanation.replace("&", "&amp;").replace('<', "&lt;").replace('>', "&gt;") }}</explanation>
        {% if image.url %}
        <url>{{ image.url }}</url>
        {% endif %}
        {% if image.media_type == "image" %}
            <hdurl>{{ image.hdurl }}</hdurl>
        {% endif %}
        <media_type>{{ image.media_type }}</media_type>
    </image>
    {% endfor %}
</images>