{# template/base.jinja #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>APOD Viewer</title>
</head>
<body>
    <h1>APOD Viewer</h1>
    <script>
        $(document).ready(function () {
            $("#start_date").on("input", function () {
                let val = $(this).val();
                console.log(val);
            });
        });
    </script>
    <form action="/" method="post">
        <p>
        <input type = "date" id="start_date" name="start_date" value="{{ start_date }}" min="1995-06-16" max="{{ today }}" />
        <input type = "date" name = "end_date" value="{{ end_date }}" min="{{ start_date }}" max="{{ today }}" />
        <input type = "submit" value = "submit" />
        </p>
    </form>
    {% for image in images %}
        <h2>{{ image.title }} {{ image.date }}</h2>
        <img src="{{ image.url }}" alt="Image of the day">
        <p>{{ image.explanation }}</p>
        <hr>
    {% endfor %}
</body>
</html>