{# template/base.jinja #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOD Viewer</title>
</head>
<body>
    <h1>APOD Viewer</h2>
    <img src="{{ image }}" alt="Image of the day">
</body>
</html>