{# template/header.jinja #}
<header>
    <h1>APOD Viewer</h1>
    <form action="/" method="post">
        <select name="filter_type" id="filter_type">
            <option value="single" {% if data.filter_type=="single" %} selected {% endif %}>Date</option>
            <option value="range" {% if data.filter_type=="range" %} selected {% endif %}>Date range</option>
            <option value="random" {% if data.filter_type=="random" %} selected {% endif %}>Random images</option>
        </select>
        <input type="date" id="start_date" name="start_date" value="{{ data.start_date }}" min="1995-06-16"
            max="{{ data.today }}" />
        <input type="date" id="end_date" name="end_date" value="{{ data.end_date }}" min="{{ data.start_date }}"
            max="{{ data.today }}" />
        <input type="number" id="n_images" name="n_images" value="{{ data.n_images }}" min="1" max="100" />
        <input type="submit" value="submit" />
    </form>
</header>