{# template/single.jinja #}
<div class="single-image">
    <h3>{{ images[0].date }}</h3>
    <h2>{{ images[0].title }}</h2>
    {% if images[0].media_type == "video" %}
    <iframe width="640" height="360" src="{{ images[0].url }}" allowfullscreen></iframe>
    {% else %}
    <img src="{{ images[0].url }}" alt="images of the day">
    {% endif %}
    <p>{{ images[0].explanation }}</p>
</div>