<?xml version="1.0" encoding="UTF-8"?>
<images>
    {% for image in images %}
    <item>
        <media_type>{{ image.media_type }}</media_type>
        <title>{{ image.title }}</title>
        <copyright>{{ image.copyright }}</copyright>
        <date>{{ image.date }}</date>
        <url>{{ image.url }}</url>
        <hdurl>{{ image.hdurl }}</hdurl>
        <explanation>{{ image.explanation }}</explanation>
    </item>
    {% endfor %}
</images>