<?xml version="1.0" encoding="UTF-8"?>
<images>
    {% for image in images %}
    <item>
        {% if image.copyright %}
        <copyright>{{ image.copyright }}</copyright>
        {% endif %}
        <title>{{ image.title }}</title>
        <date>{{ image.date }}</date>
        <explanation>{{ image.explanation }}</explanation>
        <url>{{ image.url }}</url>
        {% if image.media_type == "image" %}
            <hdurl>{{ image.hdurl }}</hdurl>
        {% endif %}
        <media_type>{{ image.media_type }}</media_type>
    </item>
    {% endfor %}
</images>