{# template/viewer/grid.jinja #}
<div class="grid-container">
    {% for image in images %}
    <div class="grid-item">
        {% set width = 640 %}
        {% set height = 360 %}
        {% include "viewer/image.jinja" %}
    </div>
    {% endfor %}
</div>