{# template/viewer/image.jinja #}
<h3>{{ image.date }}</h3>
<h2>{{ image.title }}</h2>
<hr>
{% if image.media_type == "video" %}
<iframe width="{{ width }}" height="{{ height }}" src="{{ image.url }}" allowfullscreen></iframe>
{% elif image.media_type == "image" %}
<a href="{{ image.hdurl}}">
    <img src="{{ image.url }}" alt="Image of the day">
</a>
{% else %}
    <img src="{{ url_for('static', filename='default.png') }}" alt="Missing image">
{% endif %}
{% if image.copyright %}
<p>Image Credit & Copyright: {{ image.copyright }}</p>
{% endif %}
<p>{{ image.explanation }}</p>